$main-bg-color: #0957a8;
$primary-color-1: #246db9;
$primary-color-2: #064586;
$secondary-color-1: #ffa621;
$secondary-color-2: #ce7b00;
$grey-color-1: #05101b;

$main-font: Roboto, sans-serif;
// to be selected
$header-font: Bitter, serif;

body {
  font-family: $main-font;
  color: $grey-color-1;
  background-color: $main-bg-color;
}
a {
  color: $grey-color-1;
  text-decoration: none;
  &:hover {
    color: $secondary-color-2;
  }
}
h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

/* Navbar */
// for small screens place nav at top and logo below
// or change to hamburger and put logo centered
$nav-height: 72px;
.header-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100vw;
  height: $nav-height;
}
%nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  width: 100px;
}
.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 2;
  grid-row: -1;
  justify-self: center;
}
.nav-item {
  @extend %nav-item;
  background-color: $primary-color-1;
  &:hover {
    background-color: $secondary-color-1;
  }
}
.selected-nav-item {
  @extend %nav-item;
  background-color: $primary-color-2;
}
.styled-link {
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}
/* Navbar logo */
.logo-div {
  grid-column: 0;
  margin-left: 2em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.name-div {
  font-size: 36px;
  letter-spacing: 4px;
  order: 0;
  margin: 0;
}
.eng-div {
  order: 1;
  font-size: 12px;
  color: $secondary-color-2;
  margin-left: 3px;
}
/* Block at top right of page */
.top-right-block {
  height: 36px;
  width: 150px/1440px * 100vw;
  grid-column: 3;
  justify-self: flex-end;
  align-self: flex-end;
  background-color: $primary-color-1;
  border: 1px solid $secondary-color-1;
  margin-bottom: -20px;
  transform: translate(1px);
}

/* Portfolio Motivation */
$github-circle-diameter: 250px;
$motivation-copy-width: 310px;
$banner-content-width: 70vw;

.motivation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: $banner-content-width;
  max-width: 1200px;
  margin: auto;
  height: 600px;
  div {
    width: $motivation-copy-width;
    order: 0;
    font-size: 16px;
  }
  a {
    order: 1;
    width: $github-circle-diameter;
    height: $github-circle-diameter;
    border-radius: $github-circle-diameter/2;
    border: 3px solid $secondary-color-2;
    background-color: $primary-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: ($motivation-copy-width - $github-circle-diameter)/2;
  }
}
// add media query for less than 750px width to change motivation to column
/* Portfolio banner */
.portfolio-banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fold-line {
  background-color: $secondary-color-1;
  width: 100vw;
  height: 3px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
// make margin smaller for small screens
.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300px;
  div,
  h2 {
    margin: 1em;
    margin-left: (100vw - $banner-content-width)/2;
    margin-right: (100vw - $banner-content-width)/2;
    align-self: flex-start;
  }
}

// temp until new projects layout is implimented
.projects-wrapper {
  ul {
    margin-bottom: 10vh;
  }
}
.landing-wrapper,
.contact-wrapper,
.projects-wrapper {
  margin-left: (100vw - $banner-content-width)/2;
  margin-right: (100vw - $banner-content-width)/2;
  margin-bottom: 3em;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  div[title="cover image"] {
    background-image: url("/contact/cover_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: $banner-content-width;
  }
  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
}
.landing-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 2em;
  margin-top: 70px;
  div[title="cover image"] {
    background-image: url("/landing/cover_photo_bw.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: $banner-content-width;
    grid-row: 1;
    grid-column: 1;
  }
  div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 50px 1fr;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    grid-gap: 2em;
  }
  h1 {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }
  img[alt="david bertozzi headshot"] {
    grid-row: 2;
    grid-column: 2;
    width: 200px;
    height: auto;
  }
  p {
    grid-row: 2;
    grid-column: 1;
  }
}

/* Project (individual) component */
$project-nav-height: 100px;
$image-row: 2;
$list-link-row: 3;
.project-content {
  display: grid;
  grid-template-columns: (100vw - $banner-content-width)/2 repeat(2, 1fr) (
      100vw - $banner-content-width
    )/2;
  grid-template-rows: 100px repeat(2, 1fr);
  grid-gap: 2em;
  .project-img-wrapper {
    grid-column: 3;
    grid-row: $image-row;
    width: 600px;
    height: 335px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: -1;
    margin-bottom: $project-nav-height;
    justify-self: center;
  }
  img[alt*="project"] {
    width: 600px;
    height: auto;
    max-height: 335px;
  }
  p:first-of-type {
    grid-column: 2;
    grid-row: $image-row;
  }
  a[title$="live site or github"] {
    width: $github-circle-diameter;
    height: $github-circle-diameter;
    border-radius: $github-circle-diameter/2;
    border: 3px solid $secondary-color-2;
    background-color: $primary-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: $list-link-row;
    justify-self: center;
    align-self: center;
  }
  ul {
    grid-column: 3;
    grid-row: $list-link-row;
    align-self: center;
  }
  h2[title*="Project"] {
    grid-column: 2 / span 2;
    grid-row: 1;
    justify-self: center;
  }
}
.project-img-nav {
  justify-self: center;
  display: flex;
  align-items: center;
  grid-column: 3;
  grid-row: $image-row;
  align-self: end;
  height: $project-nav-height;
  h2 {
    width: 300px;
    text-align: center;
  }
}
%arrow {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    opacity: 0.5;
  }
}
$arrow-ytranslate: 5px;
img[alt="left arrow"] {
  @extend %arrow;
  transform: rotate(180deg) translateY(5px);
}
img[alt="right arrow"] {
  @extend %arrow;
  transform: translateY(7px);
}
