$main-bg-color: #0957a8;
$primary-color-1: #246db9;
$primary-color-2: #064586;
$secondary-color-1: #ffa621;
$secondary-color-2: #ce7b00;
$grey-color-1: #05101b;

$main-font: Roboto, sans-serif;
// to be selected
$header-font: Bitter, serif;

body {
  font-family: $main-font;
  color: $grey-color-1;
  background-color: $main-bg-color;
}

// responsive front sizing referenced from Mike Riethmuller
// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 400;
$max_width: 800;
// These values represent the range of fon-tsize to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 12;
$max_font: 20;

:root {
  font-size: #{$min_font}px;
}
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root {
    font-size: calc(
      #{$min_font}px + (#{$max_font} - #{$min_font}) *
        ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width}))
    );
  }
}
@media (min-width: #{$max_width}px) {
  :root {
    font-size: #{$max_font}px;
  }
}

a {
  color: $grey-color-1;
  text-decoration: none;
  &:hover {
    color: $secondary-color-2;
  }
}
h1,
h2,
h3,
h4 {
  font-family: $header-font;
}

/* Navbar */
.header-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 100vw;
}
%nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  width: 100px;
}
.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 2;
  grid-row: -1;
  justify-self: center;
  a {
    display: flex;
    align-items: center;
  }
}
.nav-item {
  @extend %nav-item;
  background-color: $primary-color-1;
  &:hover {
    background-color: $secondary-color-1;
  }
}
.selected-nav-item {
  @extend %nav-item;
  background-color: $primary-color-2;
}
.styled-link {
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}
/* Navbar logo */
.logo-div {
  grid-column: 0;
  margin-left: 2em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
  .logo-div {
    margin: 1em;
  }
}
.name-div {
  font-size: 36px;
  letter-spacing: 4px;
  order: 0;
  margin: 0;
}
.eng-div {
  order: 1;
  font-size: 12px;
  color: $secondary-color-2;
  margin-left: 3px;
}
@media only screen and (max-width: 1050px) {
  .header-wrapper {
    grid-template-rows: repeat (2, 1fr);
    grid-template-columns: 1fr;
  }
  .navbar {
    grid-row: 1;
    grid-column: 1;
  }
  .logo-div {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
  }
}

/* Portfolio Motivation */
$github-circle-diameter: 250px;
$motivation-copy-width: 310px;
$banner-content-width: 70vw;
/* Layout for contact, landing, and projects pages */
%content-margin {
  margin-left: (100vw - $banner-content-width)/2;
  margin-right: (100vw - $banner-content-width)/2;
  margin-bottom: 3em;
}
@media only screen and (max-width: 750px) {
  $banner-content-width: 90vw;
}
.motivation {
  @extend %content-margin;
  display: grid;
  grid-template-columns: repeat(2, $banner-content-width/2);
  justify-items: center;
  align-items: center;
  width: $banner-content-width;
  max-width: 1200px;
  margin-top: 4em;
  a {
    width: $github-circle-diameter;
    height: $github-circle-diameter;
    border-radius: $github-circle-diameter/2;
    margin: ($motivation-copy-width - $github-circle-diameter)/2;
    border: 3px solid $secondary-color-1;
    background-color: $primary-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills-wrapper {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: min-content;
    width: $banner-content-width;
    div,
    h2 {
      margin-top: 1em;
      margin-bottom: 1em;
      align-self: flex-start;
    }
  }
}
@media only screen and (max-width: 750px) {
  .motivation {
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: $banner-content-width;
    grid-gap: 5em;
    div {
      grid-row: 1;
      grid-column: 1;
    }
    a {
      grid-row: 2;
      grid-column: 1;
    }
    .skills-wrapper {
      grid-column: 1;
    }
  }
}
$small-screen-circle-diameter: 200px;
$small-screen-motivaiton-copy-width: 240px;
@media only screen and (max-width: 500px) {
  .motivation {
    a {
      width: $small-screen-circle-diameter;
      height: $small-screen-circle-diameter;
      border-radius: $small-screen-circle-diameter/2;
      margin: (
          $small-screen-motivaiton-copy-width - $small-screen-circle-diameter
        )/2;
    }
  }
}
/* Portfolio banner */
.portfolio-banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fold-line {
  background-color: $secondary-color-1;
  width: 100vw;
  height: 3px;
}

/* Contact page */
.contact-wrapper {
  @extend %content-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  div[title="cover image"] {
    background-image: url("/contact/cover_photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: $banner-content-width;
  }
  div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
  }
}
/* Landing page */
.landing-wrapper {
  @extend %content-margin;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 2em;
  margin-top: 70px;
  margin-bottom: 70px;
  div[title="cover image"] {
    background-image: url("/landing/cover_photo_bw.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: $banner-content-width;
    grid-row: 1;
    grid-column: 1;
  }
  div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 50px 1fr;
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    grid-gap: 2em;
  }
  h1 {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
  }
  img[alt="david bertozzi headshot"] {
    grid-row: 2;
    grid-column: 2;
    width: 200px;
    height: auto;
    &:hover {
      outline: 0px solid transparent;
    }
  }
  p {
    grid-row: 2;
    grid-column: 1;
  }
}
@media only screen and (max-width: 1050px) {
  .landing-wrapper {
    div:nth-of-type(2) {
      grid-template-columns: 300px 200px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .landing-wrapper {
    div:nth-of-type(2) {
      display: flex;
      flex-direction: column;
    }
  }
}
/* 
 * Project (individual) component with no images 
 * Project (individual) component 
 */
$project-nav-height: 100px;
$image-row: 2;
$list-link-row: 3;
.project-no-images-wrapper,
.project-wrapper {
  @extend %content-margin;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px repeat(2, 1fr);
  grid-gap: 2em;
  margin-top: 5em;
}
.project-no-images-wrapper {
  margin-bottom: 5em;
  h2 {
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
  }
  ul {
    grid-row: 2;
    grid-column: 2;
  }
  p {
    grid-row: 2;
    grid-column: 1;
  }
  a[title$="Link"] {
    width: $github-circle-diameter;
    height: $github-circle-diameter;
    border-radius: $github-circle-diameter/2;
    border: 3px solid $secondary-color-1;
    background-color: $primary-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    text-align: center;
  }
}
$xs-screen-proj-image-height: 170px;
$xs-content-width: 95vw;
$xs-content-margin: (100vw - $xs-content-width)/2;
@media only screen and (max-width: 800px) {
  .project-no-images-wrapper {
    grid-template-rows: 100px repeat(3, min-content);
    ul {
      grid-row: 3;
      grid-column: 1;
    }
    p {
      grid-row: 2;
      grid-column: 1;
    }
    a[title$="Link"] {
      grid-row: 4;
      grid-column: 1;
    }
  }
}
@media only screen and (max-width: 600px) {
  .project-no-images-wrapper {
    grid-template-columns: $xs-content-width;
    margin-left: $xs-content-margin;
    margin-right: $xs-content-margin;
  }
}
%arrow {
  width: 70px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    opacity: 0.5;
  }
}
$arrow-ytranslate: 5px;
button[aria-label="navigate to previous content"] {
  @extend %arrow;
  transform: rotate(180deg) translateY(5px);
  border: none;
  background-image: url("/nav_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
button[aria-label="navigate to next content"] {
  @extend %arrow;
  transform: translateY(7px);
  border: none;
  background-image: url("/nav_arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.project-wrapper {
  .project-img-wrapper {
    grid-column: 2;
    grid-row: $image-row;
    width: 600px;
    height: 335px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: -1;
    margin-bottom: $project-nav-height;
    justify-self: center;
  }
  img[alt*="project"] {
    width: 600px;
    height: auto;
    max-height: 335px;
  }
  p:first-of-type {
    grid-column: 1;
    grid-row: $image-row;
  }
  a[title$="live site"] {
    width: $github-circle-diameter;
    height: $github-circle-diameter;
    border-radius: $github-circle-diameter/2;
    border: 3px solid $secondary-color-1;
    background-color: $primary-color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: $list-link-row;
    justify-self: center;
    align-self: center;
  }
  ul {
    grid-column: 2;
    grid-row: $list-link-row;
    align-self: center;
  }
  h2[title*="Project"] {
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-self: center;
  }
}
.project-img-nav {
  justify-self: center;
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: $image-row;
  align-self: end;
  height: $project-nav-height;
  h2 {
    width: 300px;
    text-align: center;
  }
}
$small-screen-proj-image-width: 450px;
$small-screen-proj-image-height: 251.5px;

@media only screen and (max-width: 1200px) {
  .project-img-nav {
    grid-row: 3;
    grid-column: 1;
  }
  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px repeat(4, min-content);
    grid-gap: 4em;
    margin-bottom: 5em;
    img[alt*="project"] {
      width: $small-screen-proj-image-width;
      max-height: $small-screen-proj-image-height;
    }
    .project-img-wrapper {
      width: $small-screen-proj-image-width;
      height: $small-screen-proj-image-height;
      grid-row: 3;
      grid-column: 1;
    }
    p:first-of-type {
      grid-column: 1;
      grid-row: 2;
    }
    a[title$="live site"] {
      grid-column: 1;
      grid-row: 5;
    }
    ul {
      grid-column: 1;
      grid-row: 4;
    }
    h2[title*="Project"] {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .project-wrapper {
    grid-template-columns: $xs-content-width;
    margin-left: $xs-content-margin;
    margin-right: $xs-content-margin;
    grid-gap: 1em;
    p {
      height: 200px;
    }
    .project-img-nav h2 {
      font-size: 16px;
      width: 150px;
    }
    img[alt*="project"] {
      width: $xs-content-width;
      max-height: $xs-screen-proj-image-height;
    }
    .project-img-wrapper {
      width: $xs-content-width;
      height: $xs-screen-proj-image-height;
    }
  }
}
